name: Update games.v2.json

permissions:
  contents: write

on:
  schedule:
    - cron: "0 0 * * 1"
  workflow_dispatch:

jobs:
  update:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-python@v5
        with:
          python-version: "3.x"
      - run: python scripts/update-games.py
      - uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "chore: update games list"
          file_pattern: "games.v2.json"
